<a href="https://colab.research.google.com/github/Dev-Adam001/Dev-Adam001/blob/main/FP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn import preprocessing
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import scale
from sklearn.metrics import mean_squared_error
from collections import Counter

L_E = preprocessing.LabelEncoder()

In [2]:
from google.colab import files
uploaded = files.upload()

Saving Test.csv to Test.csv
Saving Train.csv to Train.csv

In [3]:
import io
dataTe = pd.read_csv(io.BytesIO(uploaded['Test.csv']))
dataTr = pd.read_csv(io.BytesIO(uploaded['Train.csv']))

In [5]:
dataTr.head()
dataTe.head()

,VehicleID,Location,Maker,Model,Year,Colour,Type,Distance
0,VHL18518,Abuja,BMW,323i,"2,008",White,Foreign Used,30524.0
1,VHL17149,Lagos,Toyota,Camry,"2,013",White,Foreign Used,NaN
2,VHL10927,Lagos,Toyota,Highlander Limited V6,"2,005",Gold,Foreign Used,NaN
3,VHL12909,Lagos,Toyota,Camry,"2,011",Gray,Foreign Used,166839.0
4,VHL12348,Lagos,Lexus,ES 350 FWD,"2,013",Red,Foreign Used,88862.0

In [6]:
dataTr["Year"] = dataTr["Year"].str.replace(",", "")
dataTr["Year"] = pd.to_numeric(dataTr["Year"], errors='coerce').astype("Int64")
dataTr

dataTe["Year"] = dataTe["Year"].str.replace(",", "")
dataTe["Year"] = pd.to_numeric(dataTe["Year"], errors='coerce').astype("Int64")
dataTe

,VehicleID,Location,Maker,Model,Year,Colour,Type,Distance
0,VHL18518,Abuja,BMW,323i,2008,White,Foreign Used,30524.0
1,VHL17149,Lagos,Toyota,Camry,2013,White,Foreign Used,NaN
2,VHL10927,Lagos,Toyota,Highlander Limited V6,2005,Gold,Foreign Used,NaN
3,VHL12909,Lagos,Toyota,Camry,2011,Gray,Foreign Used,166839.0
4,VHL12348,Lagos,Lexus,ES 350 FWD,2013,Red,Foreign Used,88862.0
...,...,...,...,...,...,...,...,...
2056,VHL17903,Abuja,Toyota,Avalon,2020,Red,Foreign Used,2650.0
2057,VHL14018,Ibadan,Audi,Q5,2011,Blue,Foreign Used,99000.0
2058,VHL17473,Ibadan,Toyota,Camry,2015,Black,Foreign Used,108000.0
2059,VHL11480,Abuja,Lexus,IS 350 AWD,2013,White,Foreign Used,52485.0
2060,VHL13881,Abuja,Pontiac,Torrent,2009,Silver,Foreign Used,124088.0

In [7]:
dataTr["Distance"] = dataTr["Distance"].str.replace(",", "")
dataTr["Distance"] = pd.to_numeric(dataTr["Distance"], errors='coerce').astype(float)
dataTr

,VehicleID,Location,Maker,Model,Year,Colour,Amount (Million Naira),Type,Distance
0,VHL12546,Abuja,Honda,Accord Coupe EX V-6,2011,Silver,2.20,Nigerian Used,NaN
1,VHL18827,Ibadan,Hyundai,Sonata,2012,Silver,3.50,Nigerian Used,125000.0
2,VHL19499,Lagos,Lexus,RX 350,2010,Red,9.20,Foreign Used,110852.0
3,VHL17991,Abuja,Mercedes-Benz,GLE-Class,2017,Blue,22.80,Foreign Used,30000.0
4,VHL12170,Ibadan,Toyota,Highlander,2002,Red,2.60,Nigerian Used,125206.0
...,...,...,...,...,...,...,...,...,...
7200,VHL14329,Abuja,Honda,Civic,2018,Gray,5.70,Foreign Used,65000.0
7201,VHL10637,Abuja,BMW,X3,2007,White,4.00,Nigerian Used,200000.0
7202,VHL19734,Abuja,Toyota,RAV4 2.5 Limited 4x4,2010,Black,2.85,Nigerian Used,NaN
7203,VHL15569,Lagos,Mercedes-Benz,GLK-Class 350,2012,Black,8.65,Foreign Used,85750.0
7204,VHL15246,Abuja,Honda,Accord Crosstour,2012,Gray,3.38,Nigerian Used,83308.0

In [8]:
miss_obj_train = ["Amount (Million Naira)", "Distance"]
for i in miss_obj_train:
    dataTr[i] =  dataTr[i].fillna(dataTr[i].mean())

In [9]:
dataTr["Type"].replace('Nigerian Used', 0, inplace=True)

In [10]:
dataTr["Type"].replace('Foreign Used', 1, inplace=True)

In [11]:
dataTr["Type"].replace('Brand New', 2, inplace=True)

In [12]:
dataTr["Type"] = dataTr["Type"].astype(float)

In [13]:
miss_obj_train1 = ["Type", "Year"]
for i in miss_obj_train1:
    dataTr[i] =  dataTr[i].fillna(dataTr[i].median())

In [14]:
dataTe["Type"].replace('Nigerian Used', 0, inplace=True)

In [15]:
dataTe["Type"].replace('Foreign Used', 1, inplace=True)

In [16]:
dataTe["Type"].replace('Brand New', 2, inplace=True)

In [17]:
dataTe["Type"] = dataTe["Type"].astype(float)

In [18]:
miss_obj_test1 = ["Type", "Year"]
for i in miss_obj_test1:
    dataTe[i] =  dataTe[i].fillna(dataTe[i].median())

In [19]:
dataTr.info()

dataTe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7205 entries, 0 to 7204
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   VehicleID               7205 non-null   object
 1   Location                7205 non-null   object
 2   Maker                   7205 non-null   object
 3   Model                   7205 non-null   object
 4   Year                    7205 non-null   Int64
 5   Colour                  7205 non-null   object
 6   Amount (Million Naira)  7205 non-null   float64
 7   Type                    7205 non-null   float64
 8   Distance                7205 non-null   float64
dtypes: Int64(1), float64(3), object(5)
memory usage: 513.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2061 entries, 0 to 2060
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   VehicleID  2061 non-null   object
 1   Location   2061 non-null   object
 2   Maker      2061 non-null   object
 3   Model      2061 non-null   object
 4   Year       2061 non-null   Int64
 5   Colour     2061 non-null   object
 6   Type       2061 non-null   float64
 7   Distance   1385 non-null   float64
dtypes: Int64(1), float64(2), object(5)
memory usage: 131.0+ KB

In [20]:
dataTr["Type"].replace(0,'Nigerian Used', inplace=True)

In [21]:
dataTr["Type"].replace(1,'Foreign Used', inplace=True)

In [22]:
dataTr["Type"].replace(2, 'Brand New', inplace=True)

In [23]:
dataTr["Type"] = dataTr["Type"].astype(object)

In [24]:
dataTe["Type"].replace(0,'Nigerian Used', inplace=True)

In [25]:
dataTe["Type"].replace(1, 'Foreign Used', inplace=True)

In [26]:
dataTe["Type"].replace(2,'Brand New', inplace=True)

In [27]:
dataTe["Type"] = dataTe["Type"].astype(object)

In [28]:
dataTe["Distance"] =  dataTe["Distance"].fillna(dataTe["Distance"].mean())

In [32]:
dataTr.info()

dataTe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7205 entries, 0 to 7204
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   VehicleID               7205 non-null   object
 1   Location                7205 non-null   object
 2   Maker                   7205 non-null   object
 3   Model                   7205 non-null   object
 4   Year                    7205 non-null   Int64
 5   Colour                  7205 non-null   object
 6   Amount (Million Naira)  7205 non-null   float64
 7   Type                    7205 non-null   object
 8   Distance                7205 non-null   float64
dtypes: Int64(1), float64(2), object(6)
memory usage: 513.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2061 entries, 0 to 2060
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Location  2061 non-null   object
 1   Maker     2061 non-null   object
 2   Model     2061 non-null   object
 3   Year      2061 non-null   Int64
 4   Colour    2061 non-null   object
 5   Type      2061 non-null   object
 6   Distance  2061 non-null   float64
dtypes: Int64(1), float64(1), object(5)
memory usage: 114.8+ KB

In [34]:

dataTr = dataTr.drop("VehicleID", axis=1)
dataTr

,Location,Maker,Model,Year,Colour,Amount (Million Naira),Type,Distance
0,Abuja,Honda,Accord Coupe EX V-6,2011,Silver,2.20,Nigerian Used,103198.903612
1,Ibadan,Hyundai,Sonata,2012,Silver,3.50,Nigerian Used,125000.000000
2,Lagos,Lexus,RX 350,2010,Red,9.20,Foreign Used,110852.000000
3,Abuja,Mercedes-Benz,GLE-Class,2017,Blue,22.80,Foreign Used,30000.000000
4,Ibadan,Toyota,Highlander,2002,Red,2.60,Nigerian Used,125206.000000
...,...,...,...,...,...,...,...,...
7200,Abuja,Honda,Civic,2018,Gray,5.70,Foreign Used,65000.000000
7201,Abuja,BMW,X3,2007,White,4.00,Nigerian Used,200000.000000
7202,Abuja,Toyota,RAV4 2.5 Limited 4x4,2010,Black,2.85,Nigerian Used,103198.903612
7203,Lagos,Mercedes-Benz,GLK-Class 350,2012,Black,8.65,Foreign Used,85750.000000
7204,Abuja,Honda,Accord Crosstour,2012,Gray,3.38,Nigerian Used,83308.000000

In [35]:
dataTr_enco = ["Maker", "Model", "Colour", "Type", "Location"]
for i in dataTr_enco:
    dataTr[i] = L_E.fit_transform( dataTr[i])
dataTr[i]

0       0
1       1
2       2
3       0
4       1
       ..
7200    0
7201    0
7202    0
7203    2
7204    0
Name: Location, Length: 7205, dtype: int64

In [36]:
dataTe_enco = ["Maker", "Model", "Colour", "Type", "Location", ]
for i in dataTe_enco:
    dataTe[i] = L_E.fit_transform(dataTe[i])
dataTe[i]

0       0
1       2
2       2
3       2
4       2
       ..
2056    0
2057    1
2058    1
2059    0
2060    0
Name: Location, Length: 2061, dtype: int64

In [37]:
x = dataTr.drop("Amount (Million Naira)", axis=1)
y = dataTr["Amount (Million Naira)"]

In [38]:
x_train, x_val, y_train, y_val = train_test_split(x,y, test_size=0.3)

In [39]:
L_Reg = LinearRegression()

L_Reg.fit(x_train, y_train)

LinearRegression()

In [40]:
print(L_Reg.score(x,y))

0.2521018803604659

In [41]:
L_Reg.predict(x_val)

array([ 8.94068653, 23.88674529, 26.54064848, ..., 16.83089797,
        9.99889285, 22.43294601])

In [42]:
y_pred = L_Reg.predict(x_val)

print(f"Mean Squared Error is: {mean_squared_error(y_val,y_pred)}")

Mean Squared Error is: 563.8231120710338

In [43]:
MSE = mean_squared_error(y_val,y_pred)
RMSE = mean_squared_error(y_val,y_pred, squared =False)
RMSE

23.744959719296933

In [44]:
dataTe1_pred = L_Reg.predict(dataTe)

In [45]:
dataTe1_pred

array([ 8.30951779, 12.28917627, -0.95593216, ..., 20.24816947,
       18.50442871, 12.38385897])

In [46]:
from google.colab import files
uploaded = files.upload()

Saving SampleSubmission.csv to SampleSubmission.csv

In [47]:
Sub = pd.read_csv(io.BytesIO(uploaded['SampleSubmission.csv']))
Sub

     VehicleID  Amount (Million Naira)
0     VHL18518                     1.0
1     VHL17149                     1.0
2     VHL10927                     1.0
3     VHL12909                     1.0
4     VHL12348                     1.0
...        ...                     ...
2056  VHL17903                     1.0
2057  VHL14018                     1.0
2058  VHL17473                     1.0
2059  VHL11480                     1.0
2060  VHL13881                     1.0

[2061 rows x 2 columns]

In [48]:
Sub["Amount (Million Naira)"] = dataTe1_pred 
Sub

     VehicleID  Amount (Million Naira)
0     VHL18518                8.309518
1     VHL17149               12.289176
2     VHL10927               -0.955932
3     VHL12909               10.026407
4     VHL12348               14.431360
...        ...                     ...
2056  VHL17903               29.518377
2057  VHL14018               16.661204
2058  VHL17473               20.248169
2059  VHL11480               18.504429
2060  VHL13881               12.383859

[2061 rows x 2 columns]

In [50]:
Sub.to_csv("My_sub.csv", index=False)

In [51]:
from google.colab import files
files.download("My_sub.csv")

In [53]:
import os
os.getcwd()

'/content'

In [58]:
os.chdir("/content/drive/MyDrive")

os.mkdir("/content/drive/MyDrive/Github")

In [59]:
GITTo = "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"
GITTo

'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'

In [60]:
!git init My_sub

Initialized empty Git repository in /content/drive/MyDrive/My_sub/.git/

In [63]:
import shutil as sh

In [64]:
sh.move("/content/drive/MyDrive/My_sub/.git/", "/content/drive/MyDrive/Github/My_sub/.git/")

'/content/drive/MyDrive/Github/My_sub/.git/'

In [66]:
!git status

fatal: not a git repository (or any parent up to mount point /content)
Stopping at filesystem boundary (GIT_DISCOVERY_ACROSS_FILESYSTEM not set).

In [68]:
!git add .

fatal: not a git repository (or any parent up to mount point /content)
Stopping at filesystem boundary (GIT_DISCOVERY_ACROSS_FILESYSTEM not set).